HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
.idea/*
*.iws
*.iml
*.ipr
*.db
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/microservices/temperature-monitoring/build/libs/temperature-monitoring-0.0.1-SNAPSHOT.jar
/microservices/temperature-monitoring/build/reports/tests/test/classes/dev.alexguesser.temperaturemonitoring.TemperatureMonitoringApplicationTests.html
/microservices/temperature-monitoring/build/reports/tests/test/css/base-style.css
/microservices/temperature-monitoring/build/reports/tests/test/css/style.css
/microservices/temperature-monitoring/build/reports/tests/test/js/report.js
/microservices/temperature-monitoring/build/reports/tests/test/packages/dev.alexguesser.temperaturemonitoring.html
/microservices/temperature-monitoring/build/reports/tests/test/index.html
/microservices/temperature-monitoring/build/test-results/test/binary/output.bin
/microservices/temperature-monitoring/build/test-results/test/binary/output.bin.idx
/microservices/temperature-monitoring/build/test-results/test/binary/results.bin
/microservices/temperature-monitoring/build/test-results/test/TEST-dev.alexguesser.temperaturemonitoring.TemperatureMonitoringApplicationTests.xml
/microservices/temperature-monitoring/build/tmp/bootJar/MANIFEST.MF
/microservices/temperature-monitoring/build/resolvedMainClassName
/microservices/temperature-monitoring/build/libs/temperature-monitoring-0.0.1-SNAPSHOT.jar
/microservices/temperature-monitoring/build/reports/tests/test/classes/dev.alexguesser.temperaturemonitoring.TemperatureMonitoringApplicationTests.html
/microservices/temperature-monitoring/build/reports/tests/test/css/base-style.css
/microservices/temperature-monitoring/build/reports/tests/test/css/style.css
/microservices/temperature-monitoring/build/reports/tests/test/js/report.js
/microservices/temperature-monitoring/build/reports/tests/test/packages/dev.alexguesser.temperaturemonitoring.html
/microservices/temperature-monitoring/build/reports/tests/test/index.html
/microservices/temperature-monitoring/build/test-results/test/binary/output.bin
/microservices/temperature-monitoring/build/test-results/test/binary/output.bin.idx
/microservices/temperature-monitoring/build/test-results/test/binary/results.bin
/microservices/temperature-monitoring/build/test-results/test/TEST-dev.alexguesser.temperaturemonitoring.TemperatureMonitoringApplicationTests.xml
/microservices/temperature-monitoring/build/tmp/bootJar/MANIFEST.MF
/microservices/temperature-monitoring/build/resolvedMainClassName
/microservices/temperature-processing/.gradle/8.13/checksums/checksums.lock
/microservices/temperature-processing/.gradle/8.13/executionHistory/executionHistory.bin
/microservices/temperature-processing/.gradle/8.13/executionHistory/executionHistory.lock
/microservices/temperature-processing/.gradle/8.13/fileChanges/last-build.bin
/microservices/temperature-processing/.gradle/8.13/fileHashes/fileHashes.bin
/microservices/temperature-processing/.gradle/8.13/fileHashes/fileHashes.lock
/microservices/temperature-processing/.gradle/8.13/fileHashes/resourceHashesCache.bin
/microservices/temperature-processing/.gradle/8.13/gc.properties
/microservices/temperature-processing/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/microservices/temperature-processing/.gradle/buildOutputCleanup/cache.properties
/microservices/temperature-processing/.gradle/buildOutputCleanup/outputFiles.bin
/microservices/temperature-processing/.gradle/vcs-1/gc.properties
/microservices/temperature-processing/.gradle/file-system.probe
